.box__product{
    border: 2px dashed #a457cc;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    background-color: #fbfbfb;
    margin: 20px auto;
}
.box__product_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.form_number{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form_number input{
    width: 100%;
    height: 40px;
    border: 2px solid #a457cc;
    border-radius: 5px;
}
.btn{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn_succsess{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_outline_minus{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_minus{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: red;
}
.w_100{
    width: 100%;
}
.quantity{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.quantity span{
    background-color: rgba(164, 87, 204, 0.67);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 8px solid #a457cc;
    margin-left: 10px;

}
.quantity strong{
    font-size: 20px;
    color: #a457cc;
}
